
body{ background-color: #BDC3C7  ; background-size: cover; margin: auto; min-width: auto ; min-height: auto
}
.container {min-width: 100%;  min-height: 100%; margin: 0 }

.jumbotron {
  background-image: url('../images/paradise-beach.jpg');
  background-size: cover;
  background-attachment:fixed;
  min-height: 600px;

}

h1 { font-size:160px ; font-family: 'Rock Salt', cursive;  ; text-align:center; color: white }

.map {
  background-image: url('../images/world-map.jpg');
  background-size: cover;
  background-attachment:scroll;
  min-height: 600px;

}

.about-id {text-align: center; color: pink}

h2{ font-size:80px ; font-family: aloja  ; text-align:center; color:white

}

 h3 { font-size:60px ; font-family: aloja  ; text-align:center; color:white;

 }



h4 { font-size:20px ; font-family: aloja  ; text-align:center; color:white; weight:light}

h4 span {background-color: grey; opacity: 0.5 }

h5 {font-size:50px ; font-family: aloja  ; text-align:center; color:white}

h7 {}

p{font-size:20px ; font-family: aloja  ; text-align:center; color:white; font-weight: bold }
