body{
}
.jumbotron {
  background-image: url('../images/paradise-beach.jpg');
  background-size: cover;
  background-attachment:fixed;
  min-height: 600px;

}

h1 { font-size:200px ; font-family: aloja  ; text-align:center; color:white; }

.map {
  background-image: url('../images/world-map.jpg');
  background-size: cover;
  background-attachment:scroll;
  min-height: 600px;

}


h2 { font-size: 40px ; font-family: aloja; color:

}

h3{
font-size:40px ; font-family: aloja  ; text-align:center; color:grey; 

}

.mission {text-align: center; }
